@import "colors.css";

* {
  font-family: MartianMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 400;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  margin: 0 8px;
  padding: 0 16px;
  border-radius: 12px;
  opacity: 0.85;
}

window#waybar {
  color: @primary;
  background-color: transparent;
}

#workspaces button {
  color: @primary;
  border-radius: 64px;
  margin: 4px 0;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button.visible {
  background-color: @secondary;
  color: @on_secondary;
}
